body
{
	font-family: Ubuntu, "times new roman", times, roman, serif;
	font-size: 16px;
}

.bg-color
{
	background: #f3f3f4;
}

.header-green
{
	background: #1ab394;
	border-radius: 7px 7px 0px 0px;
}

.title
{
	font-size: 3em;
	color: white;
	text-align: center;
}

footer
{
	text-align: center;
}

section
{
	background: white;
}

.file1, .file2
{
	text-align: center;
	color: gray;
}

.log-file
{
	text-align: center;
}

.color-add
{
	background: #607D8B;
}

.color-delete
{
	background: #F44336;

}

.color-modified
{
	background: #4CAF50;
}

.color-ok
{
	background: #FFF8E1;
}